{% extends 'base.html' %}

{% block content %}


<section class="about">\
    <div>
        <h1>About Pray For Sunrise</h1>
        <p class="white">Pray for Sunrise was developed by General Assembly Software Engineering Immerisve students <a
                href="https://github.com/NathanChildress">Nathan Childress</a>, <a
                href="https://github.com/Johnathanblackburncodes">Johnathan Blackburn</a>, and <a
                href="https://github.com/sweetvanloan">Sweet Van Loan</a> also known as "Team Werewolf". This game is
            based
            off
            of Bezier Games' "One Night Ultimate
            Werewolf", implementing the game logic in Django. </p>
        <br>
        <p class="white">Special thanks to Daniel Scott, Connnie Lancaster and David Schawel.</p>
        <br>
        <p class="white">Special thanks to EatVillagers. </p>
    </div>
</section>








{% endblock %}