{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Pray for Sunrise</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/intercooler.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sortable.js' %}"></script>
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="container">
        <a class="logo" href="/">Pray for Sunrise</a>
        <ul class="right-nav">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'rules' %}">Rules</a></li>
          {% if user.is_authenticated %}

          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
        <div class="menuWrap">
          <div id="mblIcon">
            <a id="hamb" href="#"></a>
          </div>
          <ul id="mobile">
            {% if user.is_authenticated %}

            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>{% block content %} {% endblock %}</main>
  <footer class="page-footer">
    <div class="container">
      <div class="right">
        All Rights Reserved, &copy; 2020 Pray for Sunrise &nbsp;
      </div>
    </div>
  </footer>
  <script>
    $(function () {
      $('#mblIcon, #mobile').click(function () {
        $('#mobile a').toggleClass('vis');
        $('#mobile').slideToggle(600);
        $('#hamb').toggleClass('active');
      });
    });
  </script>
</body>

</html>