{% extends 'base.html' %}

{% block content %}
<h1>Pray for Sunrise</h1>
<section class="hero">
  <h1>Pray for Sunrise</h1>
  <a href="#" class="btn">Login</a>
  <!-- <a href="#" class="btn">Sign up</a> -->
</section>

{% if user.is_authenticated %}
What chat room would you like to enter?<br>
<input id="room-name-input" type="text" size="100"><br>
<input id="room-name-submit" type="button" value="Enter">

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/' + roomName + '/';
    };
</script>
{% endif %}

{% endblock %}