{% extends 'base.html' %}

{% block content %}
<section class="hero">
  <h1>Pray for Sunrise</h1>
  {% if user.is_authenticated %}

  <div>
    <form action="{% url 'add_game' room_name %}" method="post">
        {% csrf_token %}
        {{  game_form.as_p }}
        <input type="text" name="room" id="id_room">
        <input type="submit" value="Add Game" class="btn">
    </form>
  </div>
  
  <div>
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">
  </div>
  {% else %}
  <ul class="btn-wrap">
    <li><a class="btn" href="{% url 'signup' %}">Sign Up</a></li>
    <li><a class="btn" href="{% url 'login' %}">Log In</a></li>
  </ul>
  {% endif %}
</section>

{% if user.is_authenticated %}

<script>
  document.querySelector('#room-name-input').focus();
  document.querySelector('#room-name-input').onkeyup = function (e) {
    if (e.keyCode === 13) {  // enter, return
      document.querySelector('#room-name-submit').click();
    }
  };

  document.querySelector('#room-name-submit').onclick = function (e) {
    var roomName = document.querySelector('#room-name-input').value;
    window.location.pathname = '/' + 'rooms' + '/' + roomName + '/';
  };
</script>
{% endif %}

{% endblock %}