{% extends 'base.html' %}

{% block content %}

<section class="hero">
  <h1>Pray for Sunrise</h1>

  {% if user.is_authenticated %}

  <div class="game-selector">
    <h3>Which game room would you like to enter?</h3><br>
    <div class="room-btn">
      <input id="room-name-input" type="text"><br>
      <input id="room-name-submit" type="button" value="Enter">
    </div>
  </div>
  <h3>Create a game</h3><br>
  <div class="create-game-container">
    <form action="{% url 'add_game' %}" method="post">
      {% csrf_token %}
      {{  game_form.as_p }}
      <input type="hidden" name="room" id="id_room" value="newroom">
      <input type="submit" value="Add Game" class="btn">
    </form>
  </div>
  {% else %}
  <div>
    <h2 class="white">Pray for Sunrise is an game app inspired by Bezier Games One Night Ultimate Werewolf</h2><br>
    <p class="white">Sign up or login to start playing with your friends!</p>
  </div>
  <ul class="btn-wrap">
    <li><a class="btn" href="{% url 'signup' %}">Sign Up</a></li>
    <li><a class="btn" href="{% url 'login' %}">Login</a></li>
  </ul>
  {% endif %}
</section>

{% if user.is_authenticated %}

<script>
  document.querySelector('#room-name-input').focus();
  document.querySelector('#room-name-input').onkeyup = function (e) {
    if (e.keyCode === 13) {  // enter, return
      document.querySelector('#room-name-submit').click();
    }
  };

  document.querySelector('#room-name-submit').onclick = function (e) {
    var roomName = document.querySelector('#room-name-input').value;
    window.location.pathname = '/' + 'rooms' + '/' + roomName + '/';
  };
</script>
{% endif %}

{% endblock %}