/* Cards  */
.card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  overflow-x: hidden;
}

.card:nth-child(3) {
  margin-right: 0;
}

.card:last-child {
  margin-right: 0;
}

.card {
  float: left;
  position: relative;
  width: calc(100% * .3333 - 30px + .3333 * 30px);
  height: 231px;
  margin: 0 15px 15px 0;
  perspective: 1000px;
}

.card__front {
  background-image: url(https://res.cloudinary.com/dfm6aykqi/image/upload/v1600280180/moonlight%20cards/75418836_2778768478822220_8034227817455550464_n_uzza0f.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(0);
  z-index: 2;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  color: white;
}

.card__back {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  transform: rotateY(180deg) scale(1.1);
  background: lighten(black, 8);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 20px rgba(black, 0.3);
}

.easeOut {
  transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card__flipper {
    cursor: pointer;
    transform-style: preserve-3d;
}

.card__back, .card__front {
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 340px;
}

.card__front {
  transform: rotateY(0);
  z-index: 2;
  overflow: hidden;
}

.execute-card {
  float: left;
  position: relative;
  width: calc(100% * .3333 - 30px + .3333 * 30px);
  height: 231px;
  margin: 0 15px 15px 0;
  perspective: 1000;
  background-image: url(https://res.cloudinary.com/dfm6aykqi/image/upload/v1600726836/moonlight%20cards/kindpng_2075081_i7ema2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* new card  */

.card-list2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flip-card {
  background-color: transparent;
  width: calc((100% / 3) - 12px);
  height: 403px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 81%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-image: url(https://res.cloudinary.com/dfm6aykqi/image/upload/v1600280187/moonlight%20cards/53302264_1294131164045217_4780815194819395584_n_hvdixs.png);
  color: black;
  font-weight: 800;
  transform: rotateY(180deg);
}

.deactivated {
  transition: none;
}

.player-card {
  font-family: 'Metal Mania', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  height: 50px;
  background-color: #DFDFDF;
}
