/* Default styling */

body {
  display: flex;
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1529891134002-0558c8e20909?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding-top: 0;
  text-align: right;
}

/* Fonts  */


/* Nav  */

nav {
  /* background: rgb(77, 91, 87); */
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.logo{
  /* color: #D1001c; */
  color: #DFDFDF;
  /* background: rgb(159, 128, 80); */
  font-family: 'Metal Mania', cursive;
  font-size: 35px;
  line-height: 80px;
  padding: 0px 70px;
  font-weight: 700;
  margin-left: 50px;
}

nav ul {
  float: right;
  margin-right: 20px
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #DFDFDF;
  font-size: 17px;
  padding: 7px 13px;
  border-radius:  3px;
  text-transform: uppercase;
  border-left: 1px solid rgba(255, 255, 255, .2);
}

a.active,a:hover {
  background: rgb(159, 128, 80);
  transition: .5s;
}

/* Home  */
h1 {
  /* color: #DFDFDF; */
  color: #D1001c;
  mix-blend-mode: color-burn;
  text-transform: uppercase;
  font-size: 73px;
  font-family: 'Metal Mania', cursive;
}

/* Footer */
.page-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(159, 128, 80);
  border-top: 1px solid rgba(255, 255, 255, .2);
  height: 80px;
  width: 100%;
  /* mix-blend-mode: color-dodge; */
}

/* Sections */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  overflow-x: hidden;
}

.card:nth-child(3) {
  margin-right: 0;
}

.card:last-child {
  margin-right: 0;
}

.card {
  float: left;
  position: relative;
  width: calc(100% * .3333 - 30px + .3333 * 30px);
  height: 269px;
  margin: 0 15px 15px 0;
  perspective: 1000;
  background-image: url(https://res.cloudinary.com/dfm6aykqi/image/upload/v1600280180/moonlight%20cards/75418836_2778768478822220_8034227817455550464_n_uzza0f.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* @mixin easeOut {
  transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card__flipper {
    cursor: pointer;
    transform-style: preserve-3d;
}

.card__back, .card__front {
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 340px;
}

.card__front {
  transform: rotateY(0);
  z-index: 2;
  overflow: hidden;
} */

/* Buttons */
.btn {
  color: #DFDFDF;
  font-size: 17px;
  padding: 7px 13px;
  border-radius:  3px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, .2);
}

.btn:hover {
  background: rgb(159, 128, 80);
  transition: .5s;
  mix-blend-mode: color-burn;
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  width: 32%;
  padding: 20px 0;
}

/* Mobile Styling */
@media screen and (min-width: 950px) {
}