
<h3>I see user: {{ user }} and I see game: {{ game.room }} host: {{game.host}}<br> {{ user }} is a {{ playerhand.card }}</h3>
{% if user == game.host %}
    {% if game.stage == '1' %}
    <div>
        <form action="{% url 'setup_game' %}" method="post">
            {% csrf_token %}
            {{  setup_game.as_p }}
            <input type="hidden" name="room" value="{{ room_name }}">
            <input type="submit" value="Start Game" class="btn">
        </form>
    </div>
    {% endif %}
    <button ic-get-from="/game/{{ room_name }}/next" class="btn room-btn">
        Next Stage
    </button>
    
{% endif %}

{% if playerhand.card.role == 'W' %}


{% endif %}

