<!-- <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
            <h2>John Doe</h2>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
        </div>
    </div>
</div> -->

{% if playerhand.card.role == 'W' and game.stage == '3'%}
<ul class="card-list">
    {% for hand in hands %}
    <li class="card">
        <div class="card__flipper">
            <div class="card__front">
                {% if hand.card.role == 'W' %}
                <img src="{{ hand.card.imgurl }}" alt="">
                {% endif %}
                <p class="card__name"><span>{{ hand.user }}</span></p>
                <p><span>hand.card.role is {{ hand.card.role }}</span></p>
                <p><span>user.hand.card is {{ hand.card }}</span></p>
            </div>
            <div class="card__back">
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% elif playerhand.card.role == 'S' and game.stage == '4' %}
<ul class="card-list">
    {% for hand in hands %}
    <li class="card" ic-get-from="/hand/{{ hand.id }}">
        <div class="card__flipper">
            <div class="card__front">
                <p class="card__name"><span>{{ hand.user }}</span></p>
                <p><span>hand.card is {{ hand.card }}</span></p>
                <p><span>user.hand.card is {{ hand.card }}</span></p>
            </div>
            <div class="card__back">
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% elif playerhand.card.role == 'S' and game.stage == '5' %}
<ul class="card-list">
    {% for hand in hands %}
    <li class="card">
        <div class="card__flipper">
            <div class="card__front">
                <p class="card__name"><span>{{ hand.user }}</span></p>
                <p><span>hand.card is {{ hand.card }}</span></p>
                <p><span>user.hand.card is {{ hand.card }}</span></p>
            </div>
            <div class="card__back">
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% elif playerhand.card.role == 'R' and game.stage == '6' %}
<span>Night is upon you, now is your chance to rob your neighbor...</span>
<ul id="simpleList1">
    {% for hand in hands %}
    <li>
        {{hand.card}}
    </li>
    {% endfor %}
</ul>
<ul id="simpleList">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
</ul>
<script>

    Sortable.create(simpleList, { animation: 150 });
    Sortable.create(simpleList1, { animation: 150, ghostClass: 'blue-background-class' });
</script>
{% elif playerhand.card.role == 'M' and game.stage == '7' %}
<ul class="card-list">
    {% for hand in hands %}
    <li class="card">
        <div class="card__flipper">
            <div class="card__front">
                <p class="card__name"><span>{{ hand.user }}</span></p>
                <p><span>hand.card is {{ hand.card }}</span></p>
                <p><span>user.hand.card is {{ hand.card }}</span></p>
            </div>
            <div class="card__back">
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% elif playerhand.card.role == 'D' and game.stage == '8' %}
<ul class="card-list">
    {% for hand in hands %}
    <li class="card">
        <div class="card__flipper">
            <div class="card__front">
                <p class="card__name"><span>{{ hand.user }}</span></p>
                <p><span>hand.card is {{ hand.card }}</span></p>
                <p><span>user.hand.card is {{ hand.card }}</span></p>
            </div>
            <div class="card__back">
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% elif game.stage == '9' %}
<ul class="card-list">
    {% for hand in hands %}
    <li class="card">
        <div class="card__flipper">
            <div class="card__front">
                <p class="card__name"><span>{{ hand.user }}</span></p>
                <p><span>hand.card is {{ hand.card }}</span></p>
                <p><span>user.hand.card is {{ hand.card }}</span></p>
            </div>
            <div class="card__back">
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<script>
    Sortable.create(drunkList, {
        swap: true,
        swapClass: 'highlight',
        filter: '.filtered',
        animation: 150
    });
</script>
{% elif game.stage == '9' %}
<ul class="card-list" id="voteList">
    {% for hand in hands %}
    {% if hand.user == user %}
    <li class="card filtered">
        {% else %}
    <li class="card">
        {% endif %}
        <div class="card__flipper">
            <div class="card__front">
                <p class="card__name"><span>{{ hand.user }}</span></p>
                <p><span>hand.card is {{ hand.card }}</span></p>
                <p><span>user.hand.card is {{ hand.card }}</span></p>
            </div>
            <div class="card__back">
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<ul class="card-list" id="votedList">
    {% for hand in hands %}
    <li class="card-execute">
        <div class="card__flipper">
            <div class="card__front">
                <p class="card__name"><span>Execute</span></p>
            </div>
            <div class="card__back">
            </div>
        </div>
        {% endfor %}
    </li>
</ul>
<script>
    Sortable.create(voteList, {
        group: {
            name: 'shared',
            put: false
        },
        sort: false,
        swap: true,
        swapClass: 'highlight',
        filter: '.filtered',
        animation: 150
    });

    Sortable.create(votedList, {
        group: {
            name: 'shared',
            put: true
        },
        sort: false,
        swap: true,
        swapClass: 'highlight',
        filter: '.filtered',
        animation: 150
    });
</script>

{% else %}
<ul class="card-list">
    {% for hand in hands %}
    <li class="card">
        <div class="card__flipper">
            <div class="card__front">
                <p class="card__name"><span>{{ hand.user }}</span></p>
                <p><img src="{{ hand.carg.imgurl }}" alt=""></p>
            </div>
            <div class="card__back">
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endif %}