{% extends 'base.html' %}

{% block content %}

{% ifequal user game.host %}
{% ifequal game.stage '1' %}
<div>
    <form action="{% url 'setup_game' %}" method="post">
        {% csrf_token %}
        {{  setup_game.as_p }}
        <input type="hidden" name="room" value="{{ room_name }}">
        <input type="submit" value="Start Game" class="btn">
    </form>
</div>
{% endifequal %}
{% endifequal %}

<h2 color='white'> Game Stage: {{ game.stage }} Host: {{ game.host }} Player: {{ user}}</h2>

<section class="game">
    <ul class="card-list">
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Werewolf</span></p>
                </div>
                <div class="card__back">
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Werewolf</span></p>
                </div>
                <div class="card__back">
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Seer</span></p>
                </div>
                <div class="card__back">
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Werewolf</span></p>
                </div>
                <div class="card__back">
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Werewolf</span></p>
                </div>
                <div class="card__back">
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Troublemaker</span></p>
                </div>
                <div class="card__back">
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Villager</span></p>
                </div>
                <div class="card__back">
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Villager</span></p>
                </div>
                <div class="card__back">
                </div>
            </div>
        </li>
    </ul>
    <div class="chat">
        <textarea hintText="Enter a message." id="chat-log"></textarea><br>
        <div class="room-btn">
            <input id="chat-message-input" type="text" size="50"><br>
            <input id="chat-message-submit" type="button" value="Send">
        </div>
        {{ room_name|json_script:"room-name" }}
    </div>
</section>

<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatName = '{{ user.username }}: '

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = `${chatName} ${messageInputDom.value}`;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
    var Flipper = (function () {
        var card = $('.card');
        var flipper = card.find('.card__flipper');
        var win = $(window);

        var flip = function () {
            var thisCard = $(this);
            var thisFlipper = thisCard.find('.card__flipper');
            var offset = thisCard.offset();
            var xc = win.width() / 2;
            var yc = win.height() / 2;
            var docScroll = $(document).scrollTop();
            var cardW = thisCard.outerWidth() / 2;
            var cardH = thisCard.height() / 2;

            var transX = xc - offset.left - cardW;
            var transY = docScroll + yc - offset.top - cardH;
            //     if (offset.top > card.height()) transY = docScroll - offset.top + cardH;
            if (win.width() <= 700) transY = 0;

            if (card.hasClass('active')) unflip();

            thisCard.css({ 'z-index': '3' }).addClass('active');

            thisFlipper.css({
                'transform': 'translate3d(' + transX + 'px,' + transY + 'px, 0) rotateY(180deg) scale(1)',
                '-webkit-transform': 'translate3d(' + transX + 'px,' + transY + 'px, 0) rotateY(180deg) scale(1)',
                '-ms-transform': 'translate3d(' + transX + 'px,' + transY + 'px, 0) rotateY(180deg) scale(1)'
            }).addClass('active');

            return false;
        };

        var unflip = function (e) {
            card.css({ 'z-index': '1' }).removeClass('active');
            flipper.css({
                'transform': 'none',
                '-webkit-transform': 'none',
                '-ms-transform': 'none'
            }).removeClass('active');
        };

        var bindActions = function () {
            card.on('click', flip);
            win.on('click', unflip);
        }

        var init = function () {
            bindActions();
        };

        return {
            init: init
        };

    }());

    Flipper.init();
</script>
{% endblock %}